.title, .form {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.title {
  padding: 13px 10px;
  color: rgb(176, 176, 176);
  font-weight: 600;
}
.form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1em 3em;
  margin-top: 1em;
}

.submit-btn {
  appearance: none !important;
  border: none !important;
  background-color: #008080;
  width: fit-content;
  padding: .7em 4em;
  margin-top: 1.5em;
  font-size: .8em;
  color: rgb(225, 225, 225);
}

.submit-btn:hover, .submit-btn:active {
  background-color: #027070 !important;
  color: white !important;
  font-weight: 500;
}