.field {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: .5em 0;
}
.field label {
  width: 100%;
  font-size: .9em;
  font-weight: 500;
}

.big-text {
  display: flex;
  flex-direction: column;
  height: 9em;
  padding: .5em .75em;
  font-size: .85em;
  border: 1px solid black;
  overflow-y: auto;
}