.delete, .update {
  width: fit-content;
  height: fit-content;
  background-color: white;
  font-size: 0.8em !important;
  cursor: pointer;
}

.delete {
  border: 1px solid red;
  color: red;
}

.update {
  border: 1px solid green;
  color: green;
}

div[class *= "status"] {
  width: fit-content;
  color: #21a313;
}

.status-booked {
  background-color:  #F5B8AD;
}

.status-checkin {
  background-color: #39D139;
}

.status-checkout {
  background-color: #DEDBFD;
}